FLASK_HOST=127.0.0.1
FLASK_PORT=5000
FLASK_DEBUG=false
FRONTEND_ORIGIN=http://localhost:5173,http://127.0.0.1:5173
DATA_DIR=data
BASE_CURRENCY=INR
DISPLAY_CURRENCY=USD
DELAY_THRESHOLD_DAYS=5
EXTERNAL_API_ENABLED=true
EXTERNAL_API_TIMEOUT_SECONDS=3
EXTERNAL_API_TRUST_ENV_PROXY=false
REST_COUNTRIES_URL=https://api.restcountries.com/countries/v5/currencies?q={currency}&response_fields=names.common,codes.alpha_2,region,population,area,currencies&limit=100
REST_COUNTRIES_ALL_URL=https://api.restcountries.com/countries/v5?response_fields=names.common,codes.alpha_2,region,population,area,currencies&limit={limit}&offset={offset}
REST_COUNTRIES_API_KEY=
EXCHANGE_RATE_URL=https://open.er-api.com/v6/latest
FALLBACK_EXCHANGE_RATE=0.012
